<section class="hero is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <p>Store</p>
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <% categories.map(categoryInfo => { %>
            <a
              class="navbar-item <%- categoryInfo.categoryId === category ? 'is-selected' : '' %>"
              href="<%- '/' + categoryInfo.categoryId %>"
              ><%= categoryInfo.categoryName %></a
            >
            <% }); %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
