<header>
  <a href="/"><h1>Clothes & Likes</h1></a>
  <nav class="menu">
    <% _.each(categories, function(categoryInfo) { %>
    <a
      class="menu-item <%- categoryInfo.categoryId === category ? 'menu-item-selected' : '' %>"
      href="<%- '/' + categoryInfo.categoryId %>"
      ><%= categoryInfo.categoryName %></a
    >
    <% }); %>
  </nav>
</header>
