<body>
    <div>
        <% _.each(items, function(product) { %>
            <div class="product">
                <% if (product.image_groups) { %>
                    <div>
                        <img class="subcategory-item-img" src="/images/<%= product.image %>" />
                    </div>
                <% } %>
                <p class="subcategory-item-description">
                    <span class="subcategory-item-title"><%= product.name %></span>
                    , <%= product.page_description %>
                </p>
                <button class="subcategory-item-button" type="button">
                    View
                </button>
            </div>
        <% }); %>
    </div>
</body>

